.mainContainer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#E0FFEB, #95EEC8);
    background-position: center;
    height: 88vh;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 1em;
    border: none;
    width: 15em;
    height: 12em;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    font-weight: 700;
}
